html,
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 720px;
    margin: 0 auto;
}

#CarouselWrapper {
    margin: 20px;
}

#CarouselWrapper .slide {
    font-family: 'VT323', monospace;
    height: 100%;
    display: flex;
    
}

#CarouselWrapper .slide img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.Carousel {
    position: relative;
}

.CarouselNav {
    position: absolute;
    top: calc(50% - 17.5px);
    left: -45px;
    right: -45px;
    display: flex;
    padding: 10px 0;
}

.CarouselNav span {
    flex: 1 0 auto;
}

.CarouselNav button {
    display: block;
    background: transparent;
    border: 2px solid #333;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    line-height: 30px;
    text-align: center;
    outline: none;
}